html{
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    background-color: #D9F3FC;
}

body{
    width: 600px;
    margin: auto;
    background-color: #0B5F78;
    padding: 0 20px 20px 0;
    border: 5px solid black;
}

h1{
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px gray;
    margin: 0;
    padding: 20px 0;
    color: black;
}

p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0 0 0 25px;
}

img{
    display: block;
    margin: 0 auto;
}